* {
   padding: 0;
   margin: 0;
   border: 0;
}

*, *:before, *:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

nav, footer, header, aside {
   display: block;
}

html, body {
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input, button, textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: block;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a, a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul, li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: 400;
   font-family: serif;
}

:root {
   --color-black: #212121;
   --color-black-light: #000000;
   --color-orange: rgba(242, 120, 92, 0.7);
   --color-accent: #D7B399;
   --color-white: #FFFFFF;
   --color-red: #D84033;
   --color-black-medium: #212121;
   --color-gray: #CBCFD4;
   --color-gray-medium: #8D8D8D;
   --light: #F9F6F1;
   --font-Montserrat: 'Montserrat', sans-serif;
   --font-weight500: 500;
   --font-weight400: 400;
   --font-weight600: 600;
   --font-weight700: 700;
   --font-size8: 8px;
   --font-size10: 10px;
   --font-size12: 12px;
   --font-size14: 14px;
   --font-size16: 16px;
   --font-size18: 18px;
   --font-size21: 21px;
   --font-size24: 24px;
   --font-size30: 30px;
   --font-size42: 42px;
   --font-size55: 55px;
   --line-height12: 12.07px;
   --line-height15: 15px;
   --line-height17: 17.07px;
   --line-height19: 19.5px;
   --line-height20: 20px;
   --line-height22: 22px;
   --line-height29: 29.56px;
   --line-height36: 36.57px;
   --line-height36: 51.2px;
   --line-height67: 67.05px;


}

html {
   scroll-behavior: smooth;
}

body {
   font-family: var(--font-Montserrat);
}
.background {
   transition: 1s;
   background: var(--light);
   height: 100%;
}
.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 120px;
}
.header {
   position: fixed;
   width: 100%;
   z-index: 10;
}
.header-logo img, .footer-logo img {
   width: 100%;
}
.header-inner {
   display: flex;
   justify-content: space-between;
   align-items: self-start;
   padding-top: 25px;
}
.header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 101px;
}
.nav-list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 45px;
}
.nav-item {
   transition: all 0.5s linear;
}
.nav-item:hover {
   transform: translateX(10px);
   color: var(--color-orange);
}
.nav-link {
   color: var(--color-black);
   font-family: var(--font-Montserrat);
   font-weight: var(--font-weight500);
   font-size: var(--font-size14);
   line-height: var(--line-height17);
   letter-spacing: 0.3px;
}
.nav-link:hover {
   transform: translateX(10px);
   color: var(--color-orange);
}

.preview {
   width: 100%;
   height: 800px;
}
.sale-container {
   padding-top: 200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.sale-description {
   color: var(--color-black-light);
   font-family: var(--font-Montserrat);
   font-weight: var(--font-weight400);
   font-size: var(--font-size30);
   line-height: var(--line-height17);
   letter-spacing: 2px;
}
.sale-title {
   color: var(--color-black-light);
   font-family: var(--font-Montserrat);
   font-weight: var(--font-weight700);
   font-size: var(--font-size55);
   line-height: var(--line-height67);
   letter-spacing: 4px;
}

.sale-btn {
   cursor: pointer;
   min-width: 240px;
   border-radius: 100px;
   height: 55px;
   background: var(--color-accent);
   font-family: var(--font-Montserrat);
   color: var(--color-white);
   font-weight: var(--font-weight400);
   font-size: var(--font-size16);
   line-height: var(--line-height20);
   letter-spacing: 0.03em;
   line-height: 55px;
   transition: all 0.5s linear;
}
.sale-btn:hover {
   transform: translateX(10px);
}
.sale-box-container {
   position: relative;
}
.box-price {
   position: absolute;
   right: 0;
   top: 4.5em;
   text-align: right;
}
.box-price-old {
   font-weight: var(--font-weight700);
   font-size: var(--font-size24);
   line-height: var(--line-height29);
}
.box-price-new {
   margin-top: 20px;
   font-weight: var(--font-weight700);
   font-size: var(--font-size42);
   line-height: var(--line-height29);
   color: var(--color-red);
}
.box-price-image {
   position: relative;
   top: 3.2em;
}
.image {
   width: 100%;
}
.dots-container {
   margin: 0 auto;
   width: 100px;
   padding-top: 130px;
   padding-bottom: 40px;
   display: flex;
   justify-content: space-between;
}
.dot {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: var(--color-accent);
   cursor: pointer;
   transition: background 0.3s linear;
}
.dot:hover {
   background: var(--color-black);
}
.dot:active {
   background: var(--color-black);
}
.background-notification {
   transition: 1s;
   background: var(--color-black-medium);
   max-width: 100%;
   height: 235px;
}
.notification {
   text-align: center;
}
.notification-discription {
   padding-top: 65px;
   text-transform: uppercase;
   color: var(--color-white);
   font-family: var(--font-Montserrat);
   font-size: var(--font-size30);
   font-weight: var(--font-weight700);
   line-height: var(--line-height36);
}

.notification-text {
   padding-top: 23px;
   color: var(--color-white);
   font-family: var(--font-Montserrat);
   font-size: var(--font-size21);
   font-weight: var(--font-weight300);
   line-height: var(--line-height29);
}

.main {
   transition: 1s;
   background: var(--light);
}
.man-clothing {
   height: 650px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: nowrap;
   gap: 0;
}
.man-clothing-title, 
.women-clothing-title,
.kids-clothing-title {
   text-align: center;
   text-transform: uppercase;
   color: var(--color-black-light);
   font-family: var(--font-Montserrat);
   font-size: var(--font-size24);
   font-weight: var(--font-weight500);
   line-height: var(--line-height29);
}
.slider {
   margin-top: 40px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 0 80px;
}

.slider.inner {
   flex-direction: column;
   gap: 0;
}
.slider-prev {
   order: 1;
}

.button {
   padding: 15px 45px;
   border: 2px solid var(--color-accent);
   border-radius: 100px;
   cursor: pointer;
   color: var(--color-black-light);
   background-color: transparent;
   letter-spacing: 0.05em;
   font-size: 1.7rem;
   line-height: 105%;
   text-decoration: none;
}

.button-circle {
   width: 52px;
   height: 52px;
   padding: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   gap: 0;
   flex-shrink: 0;
   font-size: 2rem;
   border-radius: 100px;
   color: var(--color-black-light);
}
.ico {
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.ico-btn:last-child {
   transform: rotate(180deg);
}
.ico-arrow-prev, .ico-arrow-prev {
   width: 14px;
   height: 6px;
}
.ico-arrow-prev {
   background-image: url("assets/img/ico/arrow.svg");
}
.ico-arrow-next {
   background-image: url("assets/img/ico/arrow.svg");
   transform: rotate(180deg);
}
.slider-wrapper {
   width: 100%;
   overflow: hidden;
}

.slider-carousel {
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
   gap: 0;
   left: -100%;
}
.slider-item {
   width: 100%;
   min-height: 435px;
   padding: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   gap: 0;
   gap: 0 40px;
   flex-shrink: 0;
}

.slider-card {
   width: 270px;
   height: 420px;
   background-color: var(--color-white);
   border-radius: 9px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
   gap: 0;
   cursor: pointer;
}

.slider-card:hover {
   background-color: var(--color-white);
} 
.slider-card:hover .slider-button {
   border: 2px solid var(--color-accent);
   background-color: var(--color-accent);
}
.slider-image {
   max-width: 100%;
   height: 200px;
   display: block;
   margin-bottom: 30px;
}

.slider-text, .card-title {
   margin-bottom: 30px;
   font-weight: var(--font-weight600);
   font-size: var(--font-size21);
   line-height: var(--line-height20);
}
.slider-date, .card-date {
   margin-bottom: 30px;
   font-weight: var(--font-weight400);
   font-size: var(--font-size14);
   line-height: var(--line-height17);
}

.women-clothing {
   margin-bottom: 60px;
}

@-webkit-keyframes move-left {
   from {
      left: -100%;
   }
   to {
      left: 0px;
   }
}

@keyframes move-left {
   from {
      left: -100%;
   }
   to {
      left: 0px;
   }
}

.transition-left {
   animation-name: move-left;
   animation-duration: 3s;
}

@-webkit-keyframes move-right {
   from {
      left: -100%;
   }
   to {
     left: calc(-100% * 2);
   }
}

@keyframes move-right {
   from {
      left: -100%;
   }
   to {
     left: calc(-100% * 2);
   }
}

.transition-right {
   animation-name: move-right;
   animation-duration: 3s;
}
.wrapper {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 10px;
}



@media (min-width: 1280px) {
   .slider {
      gap: 13px;
   }
}

@media (min-width: 768px) {
   .slider {
      flex-wrap: nowrap;
      gap: 12px;
   } 
}

.clothing-inner {
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
   margin-top: 15px;
   margin-bottom: 15px;
   width: 270px;
   height: 420px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: var(--color-white);
   border-radius: 9px;
}
.card img {
   max-width: 100%;
   height: 200px;
   display: block;
   margin-bottom: 30px;
}
.kids-clothing-title {
   margin-top: 60px;
}

.notification-container {
   padding-top: 65px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.notification-discription.inner {
   padding-top: 0px;
}
.input {
   padding-left: 20px;
   color: var(--color-gray-medium);
   font-weight: var(--font-weight300);
   font-size: var(--font-size12);
   line-height: var(--line-height15);
   letter-spacing: 0.02em;
   width: 255px;
   height: 40px;
   background: var(--light);
   border-radius: 100px;
}

.input-btn {
   width: 185px;
   height: 40px;
   background: var(--color-accent);
   border-radius: 100px;
   cursor: pointer;
   transition: all 0.5s linear;
}
.input-btn:hover {
   transform: translateX(10px);
}
.input-btn-title {
   font-size: var(--font-size14);
   font-weight: var(--font-weight500);
   line-height: var(--line-height17);
   color: var(--color-white);
   text-transform: uppercase;
}

.footer {
   transition: 1s;
   background: var(--color-black-medium);
}
.footer-inner {
   padding: 30px 0;
   display: flex;
   justify-content: space-between;
}
.footer-nav {
   flex: 0 0 60%;
   display: flex;
   justify-content: space-between;
}

.footer-list-item-title {
   color: var(--color-white);
   font-weight: var(--font-weight700);
   font-size: var(--font-size10);
   line-height: var(--line-height12);
   margin-bottom: 20px;
}
.footer-list-item {
   margin-bottom: 10px;
}
.footer-list-link {
   color: var(--color-gray);
   font-weight: var(--font-weight400);
   font-size: var(--font-size14);
   line-height: var(--line-height22);
}

.burger-menu {
   position: fixed;
   display: none;
   top: 0;
   right: 0;
   width: 320px;
   height: calc(var(--vh, 1vh) * 100);
   background-color: var(--color-black-medium);
   z-index: 2;
}

.burger-menu-active {
   display: block;
}

.burger-nav {
   font-size: var(--font-size30);
   font-weight: var(--font-weight400);
   line-height: 160%;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
}
.burger-list {
   padding-top: 100px;
}
.burger-item {
   list-style: none;
   margin: 0;
   margin-bottom: 41px;
}
.burger-link {
   text-decoration: none;
   color: var(--color-white);
   transition: all .2s linear;
}
.burger-link:hover {
   color: var(--color-black-medium);
}
.burger-link-active {
   border-bottom: 3px solid var(--color-accent);
   outline: none;
}
.header-burger {
   width: 30px;
   height: 22px;
   position: absolute;
   top: 30px;
   right: 44px;
   border: none;
   box-sizing: border-box;
   background-color: transparent;
   z-index: 3;
   outline: none;
   cursor: pointer;
}

.header-burger-closed {
   transform: translateX(-1px);
   transition: all 600ms ease-out;;
}

.header-burger-open {
   transform: rotate(90deg) translateY(1px);
   transition: all 600ms ease-out;;
}

.header-burger-line {
   display: block;
   width: 100%;
   height: 2px;
   background-color: var(--color-accent);
   position: absolute;
   left: 0;
}
.header-burger-line-first {
   top: 0;
}
.header-burger-line-second {
   top: 50%;
   transform: translateY(-50%);
}
.header-burger-line-third {
   bottom: 0;
}
.header-burger-hidden {
   display: none;
}

.burger-menu-animation-in {
   animation: burger-menu-side-in 2s forwards;
}

.cover-screen {
   position: fixed;
   background: rgba(41, 41, 41, 0.6);
   display: none;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 1;
   min-height: 100%;
}

.scroll-btn {
   position: fixed;
   right: 50px;
   bottom: 50px;
   z-index: 1000;
   cursor: pointer;
   visibility: hidden;
   transform: translateY(25px);
}
.scroll-btn-active {
   visibility: visible;
}
.theme-btn {
   position: relative;
   background: none;
}
.material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 58
   
}
.material-symbols-outlined {
   background: none;
   color: var(--color-accent);
   font-size: 30px;
}
.modal {
   position: fixed;
   display: flex;
   width: 500px;
   background: var(--color-accent);
   border-radius: 9px;
   left: 50%;
   top: 50%;
   box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   z-index: 2;
   display: none;
   transform: translate(-50%, -50%);
}
.modal-active {
   display: flex;
}
.form-content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0 auto;
   padding: 25px 0;
   width: 300px;
}
.content-number, .content-raduobtn, .content-text {
   display: flex;
   flex-direction: row;
   margin-bottom: 1.5em;
}
.content-title {
   color: var(--color-black-medium);
   font-size: var(--font-size16);
   font-weight: var(--font-weight500);
   line-height: var(--line-height17);
   margin-right: 20px;
}
.input-number {
   width: 40px;
   height: 15px;
   border-radius: 5px;
   padding-left: 5px;
}
.content-raduobtn, .content-text {
   flex-direction: column;
}
.raduobtn, .content-comment {
   color: var(--color-black-medium);
   font-weight: var(--font-weight300);
   line-height: var(--line-height12);
   margin-top: 5px;
}
.raduobtn input {
   margin-right: 5px;
}
.content-comment {
   height: 50px;
   border-radius: 5px;
   padding: 5px 0 0 5px;
}
.modal-buy-btn {
   cursor: pointer;
   min-width: 80px;
   border-radius: 10px;
   height: 30px;
   background: var(--color-white);
   color: var(--color-black-medium);
   font-weight: var(--font-weight300);
   font-size: var(--font-size12);
   transition: all 0.5s linear;
}
.modal-buy-btn:hover {
   transform: translateX(10px);
}
.modal-close-btn {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-black-medium);
   border: 2px solid var(--color-accent);
   border-radius: 26px;
   width: 40px;
   height: 40px;
   z-index: 0;
   top: -20px;
   right: -20px;
   cursor: pointer;
}
.modal-close-btn:hover {
   background-color: var(--color-accent);
}
.modal-line {
   position: absolute;
   display: block;
   width: 16px;
   height: 2px;
   background-color: var(--color-white);
}

.modal-line-first {
   transform: rotate(45deg);
}

.modal-line-second {
   transform: rotate(-45deg);
}

@keyframes burger-menu-side-in {
   from {
      right: -320px;
   }
   to {
      right: 0px;
   }
}

.burger-menu-animation-out {
   animation: burger-menu-side-out 2s;
}

@keyframes burger-menu-side-out {
   from {
      right: 0px;
   }
   to {
      right: -320px;
   }
}


@media (max-width: 1279px) {
   .clothing-inner {
      max-width: 580px;
      margin: 0 auto;
   }
}

@media (max-width: 1000px) {
   .sale-container {
      flex-direction: column;
      padding-top: 150px;
   }
   .preview {
      height: 950px;
   }
   .notification-container {
      flex-direction: column;
   }
   .input-btn {
      margin-top: 20px;
   }
}

@media (max-width: 950px) {
   .slider-card, .card {
      width: 215px;
      height: 400px;
   }
   .clothing-inner {
      max-width: 470px;
   }
   .slider-item {
      padding: 5px;
   }
}
@media (max-width: 800px) {
   .slider-card, .card {
      width: 185px;
      height: 290px;
   }
   .slider-button, .card-button {
      width: 100px;
      height: 50px;
      font-size: var(--font-size16);
      padding: 0;
   }
   .slider-image, .card img {
      height: 150px;
   }
   .slider-text, .card-title {
      margin-bottom: 15px;
      text-align: center;
      font-size: var(--font-size14);
      line-height: var(--line-height15);
   }
   .slider-date, .card-date {
      margin-bottom: 15px;
      text-align: center;
   }
   .slider-image, .card img {
      margin-bottom: 15px;
   }
}


@media (max-width: 767px) {
   .clothing-inner {
      max-width: 270px;
   }
   .header-nav {
      display: none;
   }
   .header-burger-hidden {
      display: block;
   }
   .dots-container {
      padding-top: 90px;
   }
   .clothing-inner {
      justify-content: center;
   }
   .notification-discription {
      padding-top: 45px;
      font-size: var(--font-size21);
   }
   .background-notification {
      height: 195px;
   }
   .notification-text {
      padding-top: 13px;
      font-size: var(--font-size16);
   }
   .notification-container {
      padding-top: 20px;
   }
   .footer-inner, .footer-nav {
      flex-direction: column;
      align-items: center;
   }
   .footer-list-item-title {
      text-align: center;
   }
   .footer-list-link {
      font-size: var(--font-size12);
   }
   .footer-logo {
      margin-bottom: 20px;
   }
   .slider {
      flex-wrap: nowrap;
   }
   .container {
      padding: 0 60px
   }
   .theme-btn {
      right: 35px;
   }
}
@media (max-width: 700px) {
   .slider {
      flex-wrap: wrap;
   }
   .sale-description {
      font-size: var(--font-size21);
   }
   .sale-title {
      font-size: var(--font-size30);
   }
   .box-price-image {
      width: 350px;
   }
   .preview {
      height: 650px;
   }
   .box-price-old {
      font-size: var(--font-size16);
   }
   .box-price-new {
      margin-top: 5px;
      font-size: var(--font-size24);
   }
   .dots-container {
      padding-top: 50px;
   }
   .dot {
      width: 15px;
      height: 15px;
   }
   .women-clothing {
      margin-bottom: 30px;
   }
}
@media (max-width: 600px) {
   .notification-discription.inner, .notification-discription {
      font-size: var(--font-size16);
   }
   .input {
      width: 200px;
      height: 30px;
   }
   .input-btn {
      margin-top: 10px;
      width: 100px;
      height: 30px;
   }
   .input-btn-title {
      font-size: var(--font-size8);
   }
   .notification-text {
      font-size: var(--font-size12);
   }
   .background-notification {
      height: 145px;
   }
   .notification-discription {
      padding-top: 25px;
   }
   .notification-container {
      padding-top: 10px;
   }
   .slider {
      margin-top: 20px;
   }
   .man-clothing-title, .women-clothing-title, .kids-clothing-title {
      font-size: var(--font-size16);
   }
   .slider-button, .card-button {
      width: 75px;
      height: 35px;
      font-size: var(--font-size10);
   }
   .slider-card, .card {
      height: 275px;
   }
}
@media (max-width: 400px) {
   .container {
      padding: 0 20px;
   }
   .theme-btn {
      right: 65px;
   }
   .sale-container {
      padding-top: 100px;
   }
   .sale-description {
      font-size: var(--font-size16);
   }
   .sale-title {
      margin: auto;
      font-size: var(--font-size18);
   }
   .sale-btn {
      min-width: 135px;
      height: 35px;
      font-size: var(--font-size12);
      line-height: normal;
   }
   .preview {
      height: 450px;
   }
   .box-price-image {
      width: 200px;
   }
   .box-price-old {
      font-size: var(--font-size10);
   }
   .box-price-new {
      margin-top: auto;
      font-size: var(--font-size14);
   }
   .box-price {
      top: 3em;
   }
   .notification-discription.inner, .notification-discription {
      font-size: var(--font-size12);
   }
   .scroll-btn {
      right: 25px;
   }
   .header-logo, .footer-logo img {
      width: 130px;
   }
}
@media (max-width: 336px) {
   .sale-description {
      font-size: var(--font-size12);
   }
   .sale-title {
      margin: auto;
      font-size: var(--font-size14);
   }
   .notification-discription.inner, .notification-discription {
      font-size: var(--font-size10);
   }
   .notification-text {
      font-size: var(--font-size8);
   }
}
